.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.box-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.projects {
    display: grid;
}

.projects:last-child i{
    color: #fff;
    font-size: 40px;
}

.projects:last-child i:hover{
    font-size: 45px;
    color: aliceblue;
    transition: all .4s;
}

.img-project {
    max-width: 400px;
    border-radius: 15px;
    border: 1px solid #70D0D3;;
}

.img-project:hover {
    max-width: 450px;
    transition: all .4s;
}

.projects .description {
    margin-bottom: 10px;
}

.text-description {
    margin-bottom: 20px;
}

@media ( max-width: 1650px) {
    .projects-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media ( max-width: 1050px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }
}

@media ( max-width: 480px) {
    .img-project {
        max-width: 350px;
    }
    .img-project:hover {
        max-width: 370px;
    }
}

@media ( max-width: 350px) {
    .img-project {
        max-width: 280px;
    }
    .img-project:hover {
        max-width: 370px;
    }
}